<div class="container">
  <div class="row riga-uno my-5">
    <div class="col">
      <button
        class="btn btn-primary"
        (click)="startGame()"
        [disabled]="clicked"
      >
        Start
      </button>
      <button class="btn btn-dark" (click)="showWord()">Cheat</button>
      <span *ngIf="show"> {{ wordToGuess.toString() }}</span>
    </div>
    <div class="col">
      <button
        class="btn btn-danger"
        (click)="resetGame()"
      >
        Reset
      </button>
    </div>
  </div>
  <!-- Game Sections -->
  <div class="row riga-due">
      <!-- Drawing and lifebar -->
    <div class="col-6">
      <h3>Here goes the drawing</h3>
      <div class="life">
        {{ liferemaining }}
      </div>
      <div class="drawing">
        
      </div>
    </div>
    <!-- Word to guess  -->
    <div class="col-6">
      <h3>Here goes the row with slots</h3>
      <app-slot
        *ngFor="let letter of wordToGuess; index as j"
        [wordLetter]="wordToGuess[j]"
        [visible]="shouldUncoverSlot[j]"
      ></app-slot>
    </div>
  </div>
<!-- KeyBoard Section -->
  <div class="row riga-tre">
    <div class="col-10">
      <div class="wrapper">
        <app-letter
        (clickFired)="checkIfAmThere($event)"
          *ngFor="let letter of alphabet; index as i"
          [value]="alphabet[i]"
          
        ></app-letter>
      </div>
    </div>
  </div>
</div>
